<div class="main_header">
  <div class="room_title">huhufhe</div>
  <div class="end_chat">
  <a href="#">チャット終了</a>
  </div>
</div>
<div class="main_body">
  <div class="main_upper">
    <div class="name">Taro</div>
    <div class="date">2020/10/10</div>
  </div>
  <div class="mian_under">
    <div class="comment">おはよう</div>
  </div>
  <div class="main_upper">
    <div class="name">Taro</div>
    <div class="date">2020/10/10</div>
  </div>
  <div class="mian_under">
    <div class="comment">おはよう</div>
  </div>
</div>
<div class="form">
  <div class="form-input">
    <input class="form-message" placeholder= "type a message">
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input class="form-submit" type="submit" value="送信">
</div>
