<div class="side_header">
  <div class="user_name">Taro</div>
  <div class="new_room">
    <a href="#">チャットを作成する</a>
  </div>
</div>
<div class="side_body">
  <ul class="room_catalog">
    <li class="room_name">room1</li>
    <li class="room_name">room2</li>
    <li class="room_name">room3</li>
  </ul>
</div>
